__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/
*.log

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

*.db
*.sqlite3
*.sqlite
db.sqlite3
media/
staticfiles/
local_settings.py

.env

.idea/
.vscode/
*.iml
.DS_Store

migrations/
!*/migrations/__init__.py